#id_unico {
	position : relative;
	background : lime;
	height : 500px; 
	padding-left : 50px;
	padding-top: 100px;
	border : solid;
	border-color : red;
	border-width : 1;
	visibility:visible;

}
a:link {
	color : red;	
}
a:active{
	color:cyan;
}
a:hover{
	color : green;
}
a:visited{
	color:pink;
}

p:first-line{
	font-style : small-camps;
}
p:first-letter{
	font-size : 150%;
	float : left;
}

div.claseDiv{
	border : dotted;
	border-color : black;
	border-width : 2;
	visibility:visible;	
}